<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <ul class="timeline">
                <li>
                    <p class="header">Interned at 3M Corporate Research Analytical Lab</p>
                    <p class="date">Summer 2022</p>
                    <img src="{{ site.baseurl }}/assets/timeline/3M_sitting.JPG" />
                </li>
                <li>
                    <p class="header">Passed my Original Research Proposal (all but defense!)</p>
                    <p class="date">March 2022</p>
                    <img src="{{ site.baseurl }}/assets/timeline/ORP_2022.jpg" />
                </li>
                <li>
                    <p class="header">Became a PhD candidate</p>
                    <p class="date">November 2020</p>
                </li>
                <li>
                    <p class="header">Started a PhD program at University of Illinois</p>
                    <p class="date">29 August 2019</p>
                </li>
                <li>
                    <p class="header">Graduated from Rollins College summa cum laude in Chemistry</p>
                    <p class="date">13 May 2018</p>
                    <img src="{{ site.baseurl }}/assets/timeline/rollins_graduation.jpg" />
                </li>
                <li>
                    <p class="header">Presented poster at ACS National Meeting Spring 2018</p>
                    <p class="date">March 2018</p>
                    <img src="{{ site.baseurl }}/assets/timeline/ACS_2018.jpeg" />
                </li>
            </ul>
        </div>
    </div>
</div>
