<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <ul class="timeline">
                <li>
                    <p class="header">Became a PhD candidate</p>
                    <p class="date">November 2020</p>
                </li>
                <li>
                    <p class="header">Started a PhD program at University of Illinois</p>
                    <p class="date">29 August 2019</p>
                </li>
                <li>
                    <p class="header">Graduated from Rollins College summa cum laude in Chemistry</p>
                    <p class="date">13 May 2018</p>
                </li>
                <li>
                    <p class="header">Presented poster at ACS National Meeting Spring 2018</p>
                    <p class="date">2018</p>
                </li>
            </ul>
        </div>
    </div>
</div>
