<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <ul class="timeline">
                <li>
                    <p class="header">Started a PhD program at University of Illinois</p>
                    <p class="date">29 August 2019</p>
                </li>
                <li>
                    <p class="header">Graduated from Rollins College</p>
                    <p class="date">13 May 2018</p>
                    <p>Graduated from Rollins College (Winter Park, FL) summa cum laude in Chemistry</p>
                </li>
            </ul>
        </div>
    </div>
</div>
