// You can add CSS rules here that will be included in Hydejack's CSS file
body {
  --border-color: #B2B2B2; /* originally #ebebeb */
  text-align: justify;
  text-justify: inter-word;
}
.page-title{
  color: #666699;
}

/**** TIMELINE *****/
ul.timeline > li > p.timeline-img {
  height: 20px
}
ul.timeline > li > p.header {
  display: inline;
  font-weight: 500;
}
ul.timeline > li > p.date {
  display: block;
  color: #666699;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #666699;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
